#header
  background-color white
  padding 21px 0 14px 0
  width 100%
  img
    width 150px

#overlay
  position absolute
  z-index 999
  top 343px
  left 0
  width 100%
  &.rules-overlay
    top 0px
  &.rules-overlay2
    top 3246px
  &.rules-overlay3
    top 6492px
  &.rules-overlay4
    top 9738px
  @media screen and (max-width  1440px)
    width 1440px

.container
  position relative
  z-index 9999
  top 50%
  transform translateY(-50%)
  .decoration
    margin-bottom 30px
  img
    margin-bottom 30px

#banner
  background-image url('/img/bg1.png')
  background-repeat no-repeat
  background-size cover
  background-position bottom center
  height 649px
  h1
    max-width 875px
    margin 0 auto 57px auto

#calendar
  height 525px
  .container
    max-width 546px
    margin 0 auto
    h2
      margin-bottom 21px
    p
      margin-bottom 30px

#award
  background-image url('/img/bg2.png')
  background-repeat no-repeat
  background-size cover
  background-position bottom right
  position relative
  height 543px
  .number
    position absolute
    top 211px
    right 5px
    width 47%
    @media screen and (max-width 480px)
      top: 455px;
      right: 27%;
      width: 47%;
  .container
    margin-left 13%
    text-align left
    max-width 356px
    img
      padding-left 20px

    @media screen and (max-width  776px)
      float none
      text-align center
      margin 0 auto
      img
        padding-left 0

    h2
      margin-bottom 28px

    p
      margin-bottom 21px

#payback
  height 654px
  .container
    max-width 884px
    margin 0 auto

    h2
      margin-bottom 28px

    p
      margin-bottom 10px

#resources
  background-image url('/img/bg3.png')
  background-repeat no-repeat
  background-size cover
  background-position bottom left
  position relative
  height 543px

  &:before
    content  ''
    position  absolute
    top  0
    right  0
    bottom  0
    left  0
    background-image linear-gradient(to right,rgba(49, 151, 145, 0.3),teal)
    opacity 1

  .container
    float right
    margin-right 13%
    max-width 460px
    text-align left

    @media screen and (max-width  776px)
      float none
      text-align center
      margin 0 auto

    h2
      margin-bottom 28px

#progress
  height 676px

  .container
    max-width 627px
    margin 0 auto
    h2
      margin-bottom 28px
    p
      margin-bottom 25px


#rules
  height auto
  overflow hidden
  position relative
  .container
    max-width 700px
    margin 0 auto
    z-index 9999
    top auto
    transform none
    padding 160px 0
  p
    text-align left
    margin-bottom 20px
  h2
    text-align left
    margin-bottom 20px
  a
    color teal

#form
  height auto
  overflow hidden
  position relative
  .container
    max-width 700px
    margin 0 auto
    z-index 9999
    top auto
    transform none
    padding 160px 0
    p
      text-align left
      margin-bottom 20px
    h2
      text-align left
      margin-bottom 20px
    h3
      text-align left
      margin-bottom 20px
    label, input, textarea
      display block
      text-align left
    label
      margin-bottom 10px
      strong
        font-size 20px
    textarea
      width 100%
    form
      margin 60px 0
      .form-item
        margin-bottom 40px
        .attachment
          font-size 16px
          color dark-purple
