@import url('https://fonts.googleapis.com/css?family=Lato:300')
@import 'styles/theme/*'
@import 'styles/pages/*'
@import 'styles/partials/*'
@import 'styles/responsive/*'

*
  margin 0
  padding 0
  box-sizing border-box

html
  height 100%

body
  font-family 'Lato', sans-serif
  font-weight 300
  text-align center
  color white
  min-height 100%
  overflow-x hidden

.logo
  width 150px
  margin 100px 0 50px

a
  text-decoration none
  &:hover
    opacity 0.6

section
  width 100%
  height 649px
  background-color white
