doctype html
html(lang="en")

  head
    meta(charset="utf8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="keywords", content="")
    meta(name="description", content="")
    
    title Startup Ogden
    
    script(type="text/javascript", src="/scripts/global.js")
    link(rel="stylesheet", type="text/css", href="/app.css")
    
  body
    block header
    block content
