extends views/_layout.jade

block header
  #header
    a(href="/"): img(src="img/startup-ogden.svg")

block content
  
  .wrapper

    img#overlay(src="img/overlay.svg")
      
    section#banner
      .container
        img.decoration(src="img/decoration.svg")
        h1 Receive cash grants from the community, for the community.
        a.btn(href="/signup") APPLY
        
    section#calendar
      .container.light
        img(src="img/calendar.svg")
        h2 Quarterly award and application process
        p Startup Ogden awards quarterly cash grants starting at $15,000.
        a.btn.teal(href="/rules") RULES
        
    section#award
      .container
        img.decoration(src="img/decoration.svg")
        h2 For Startup Ogden Members Only
        p 
          | Memberships are $99 a year and
          br
          | $50 - $99 a month.
        p.tiny Please visit 2314 Washington Boulevard in Ogden, Utah (on the ground floor) to register as a member.
        
    section#payback
      .container.light
        img(src="img/pig.svg")
        h2 Payback Guidelines
        p Payback isn't required if headquarters are located in Weber County for a two-year period after funding for the award is received.
        p Payback is required if headquarters moved prior to that time.
        
    section#resources
      .container
        img.decoration(src="img/decoration.svg")
        h2 In-House Resources
        p 
          | Startup Ogden has a number of members that are interested in partnering with grant companies on product development. 
          br
          br
          | (negotiated between Grant Recipients  and resource partners)
        
    section#progress
      .container.light
        img(src="img/graph.svg")
        h2 Report Your Progress
        p Semi-annual reporting of business progress is required for all grant recipients.
        p Grant recipients will submit an online form that includes financials, hiring and growth plans, and other related company updates.
