extends views/_layout.jade

block header
  #header
    a(href="/"): img(src="img/startup-ogden.svg")

block content

  section#rules
    img#overlay.rules-overlay(src="img/overlay.svg")
    .container.light
      h2 Program Description
      p 
        | The Startup Ogden Grant Program supports startups and established businesses that are growing and developing their product lines and business concepts. The purpose of this program is to grow businesses in Weber County, Utah. Funding starts at $15,000 with no ceiling and is awarded based on the Startup Ogden Grant Program Advisory Board’s sole discretion.
        br
        br
        | Preference will be given to Applicants who:
        br
        br
        | Demonstrate current market validation for their business concepts via existing revenue and customers;
        br
        br
        | Demonstrate due diligence on market barriers;
        br
        br
        | Show a detailed budget attached to achievable milestones; and
        br
        br
        | Have a high potential to grow their existing business in Weber County, Utah.
        br
        br
        | Show strong growth in revenue and profits and demonstrates a high likelihood of staying in business.
        br
        br
        
      h2 Applicant Qualifications
      
      p 
        | Startup Ogden Grant Program is restricted to members of Startup Ogden. For details on how to sign up for Startup Ogden, go to 
        a(href="http://weber.edu/downtown") http://weber.edu/downtown
        | . All applicants must be current members in good standing in order for their application to be accepted.
        
      h2 Application Process
      
      p
        | The application process entails two stages. The first stage is a written application using the 
        a(href="/signup") Application Form
        | . Written applications will be accepted throughout the year and reviewed together in the following quarterly intervals:
        br
        br
        | January 1 to March 31
        br
        br
        | April 1 to June 30
        br
        br
        | July 1 to September 30
        br
        br
        | October 1 to December 31
        br
        br
        | The second stage is an in-person presentation. Only Applicants who score sufficiently high on the written application will be invited to make in-person presentations. Invited Applicants will receive notice of the date and time of the in-person presentations. The Applicants will need to be prepared to present between five to ten minutes and answer follow-up questions. The presentation should include details about the business and team/employees, financials, what the grant money will be used for, what results are expected in 6, 12 and 18 months as well as other relevant details the Applicant may wish to share.
        
      h2 Funding Decisions
      
      p
        | Funding decisions will be made using a scoring card and successful Applicants will be emailed within five business days after the in-person presentation. The Startup Ogden Grant Program Advisory Board is under no obligation to award grant funds if they do not deem that any of the Applicants have made a case compelling enough to get funded; however, it is possible that more than one Applicant can be funded per quarterly interval.  While taken as advisory, the Startup Ogden Grant Program Advisory Board is under no obligation to fully fund a successful Applicant’s ask and may tranche funding based on the Applicant meeting certain milestones.
        
      h2 Post Award Process
      
      p
        | Successful Applicants will receive a contract that will include, in addition to other terms, a reporting provision and a residency provision.  The reporting provision will require successful Applicants to provide a semi-annual report via an online form for two years after their grant award funds are received.  This online form will solicit the following information: progress towards meeting milestones; business residency; pivots from the original business concept and justifications for these pivots; financials; employee headcount; and an overall snapshot of how the company is doing and where it is headed.
        br
        br
        | The residency provision will require that successful Applicants headquarter in Weber County for two years after their grant award funds are received.  A failure to perform the reporting and residency provisions will constitute a breach of the contract, and breaching parties will be required to pay back the grant funds in five equal installments over five years at 0% interest.  The first payment is due within thirty (30) days of moving headquarters outside of Weber County, Utah and continues once annually on the same date for four more years.
