extends views/_layout.jade

block header
  #header
    a(href="/"): img(src="img/startup-ogden.svg")

block content

  section#form
    img#overlay.rules-overlay(src="img/overlay.svg")
    img#overlay.rules-overlay2(src="img/overlay.svg")
    img#overlay.rules-overlay3(src="img/overlay.svg")
    img#overlay.rules-overlay4(src="img/overlay.svg")
    .container.light
      h2 Application Terms
      p
        | By filling out this application form (hereinafter “Application”), the Applicants agree and acknowledge that Applicants are not guaranteed funding from the Startup Ogden Grant Program, and funding decisions are at the sole discretion of the Startup Ogden Grant Program Advisory Board.
        br
        br
        | By filling out this Application, Applicants warrant and represent that all the information that they provide in this Application is accurate and true to the best of their knowledge; and there is no material misrepresentation of fact. Applicants agree and acknowledge that any material misrepresentation of fact may result in a requirement to payback any disbursed funds and may disqualify the Applicant from receiving any future Startup Ogden Grant Program funds in addition to incurring other criminal and civil liabilities. 
      
      h2 Application Directions
      p Please succinctly and completely respond to the prompts in this application. Where a prompt in the application does not apply to your proposed business idea, write “N/A” in the provided field. 
      
      form(action="https://getsimpleform.com/messages?form_api_token=2904ab078ca8f2d9c848a70099227645" method="post" enctype="multipart/form-data" id="application-form")
        h3 Contact Information
        div.form-item.contact
          label Name
          input(type="text" name="name")
          label Address
          input(type="text" name="address")
          label Phone Number
          input(type="tel" name="phone")
          label Email
          input(type="email" name="email")
          label Business Entity Name
          input(type="text" name="business-name")
          label State Registered
          input(type="text" name="state")
          label EIN Number
          input(type="text" name="EIN")
        h3 I. Business -- Current Operations
        div.form-item
          label <strong>A.</strong> Describe what your business does in 500 words or less.
          textarea(name="1A" data-validation="require" class="form-control" rows="10")
          
        h3 II. Value Proposition
        div.form-item
          label <strong>A.</strong> Describe the value proposition of your business idea in 500 words or less. (e.g. What is the targeted market segment? What pain point does your product or service meet sufficient that someone will pay for it? What examples do you have of that in the form of revenue and current customers?)
          textarea(name="2A" class="form-control" rows="10")
        
        label <strong>B.</strong> Discuss your activities to validate your value proposition and business by responding to the following:
        div.form-item
          label <strong>i.</strong> Which classes of people did you interview to validate your value propositions? (Classes of people are segments of the general population that have characteristics which make them potentially relevant to your business idea including particular professions (e.g. doctors, restaurant owners, stay at home parents, procurement managers), particular interests (e.g. cyclist, foodies, techies etc.), and other demographic characteristics (members of particular age cohorts, homeowners, Android owners etc.).) 
          textarea(name="2Bi" class="form-control" rows="10")
          
        div.form-item
          label <strong>ii.</strong> Why did you select these classes of people? (Are they potential and/or current users of your product? Would they potentially influence others’ decisions to purchase your product? Would they potentially purchase your product?)
          textarea(name="2Bii" class="form-control" rows="10")
          
        div.form-item
          label <strong>iii.</strong> How many customers do you currently have?  How many did you have 1, 3, 6 and 9 months ago?  In other words, please share with us some detail about the current growth of your company.
          textarea(name="2Biii" class="form-control" rows="10")
          
        div.form-item
          label <strong>iv.</strong> Have you changed your business, or “pivoted” since you began the business?  When and why? Describe how you pivoted from your original idea in 500 words or less. 
          textarea(name="2Biv" class="form-control" rows="10")
          
        div.form-item
          label <strong>v.</strong> How many units or service packages have you sold/licensed related to your business idea? Please describe your total revenue or other growth metric since you stared the business.
          textarea(name="2Bv" class="form-control" rows="10")
          
        h3 III. Market Barriers
        div.form-item
          label <strong>A.</strong> Please list companies which provide the most closely related services or products as your business and their approximate share of the targeted market. (If you list no competitors, it may suggest a lack of an established marketplace and/or a lack of due diligence on your part. To counter a presumption of a lack of due diligence, you can provide a description of your research strategies to identify competing companies.)
          textarea(name="3A" class="form-control" rows="10")
          
        div.form-item
          label <strong>B.</strong> Please list all the related patent and other publications (prior art) and similar products sold on the market that are related to your business idea? (Unless your business idea is service based if you do not identify prior art and/or similar products, it may suggest a lack of an established marketplace and/or a lack of adequate due diligence on your part. To counter a presumption of a lack of due diligence, you can provide a description of your research strategies to identify prior art and products already on the market.)
          textarea(name="3B" class="form-control" rows="10")
          
        div.form-item
          label <strong>C.</strong> What is your competitive advantage against competing companies, pre-existing prior art, and pre-existing products? Or if there is not a competing company, pre-existing prior art, and/or pre-existing products, why will you be successful at creating a new marketplace for new products when such demand does not currently exist? 
          textarea(name="3C" class="form-control" rows="10")
          
        h3 IV. Rights to Commercialize the Business Idea
        div.form-item
          label <strong>A.</strong> If another party wrote the software code and/or invented a portion of the technology that comprises part of your business idea (this includes software code provided through open source licensing), describe your contractual relationship with the other party or other factors that enable you to commercialize your business idea in spite of another party’s authorship or inventorship of a portion of the technology (e.g. the other party’s patent lapsed or was abandoned, the open source licensing agreement is an Apache License etc.).
          textarea(name="4A" class="form-control" rows="10")
          
        div.form-item
          label <strong>B.</strong> If you have any pre-existing relationships (employment, work-for-hire relationship, anti-competitor agreement) with other parties that may constrain your ability to commercialize your business idea, describe how you have resolved these pre-existing relationships.
          textarea(name="4B" class="form-control" rows="10")
          
        h3 V. Development Stage of Business
        label <strong>A.</strong> Describe the development stage of your business by responding to the following prompts:
        div.form-item
          label <strong>i.</strong> What type of business entity have you registered/incorporated and in what State and County? 
          textarea(name="5Ai" class="form-control" rows="10")
          
        label <strong>ii.</strong> If you have filed, licensed, or been granted a patent, copyright, or trademark associated with your business idea, provide links or append copies of these intellectual property publications to the end of this application as Exhibit A.
        label <strong>iii.</strong> If you have a prototype or product demo video associated with your business idea, provide images of the prototype and/or links to the product demo video appended to the end of this application as Exhibit B. 
        
        div.form-item
          label <strong>iv.</strong> If you have received seed funding associated with your business idea, from whom did you receive the seed money and how much money did you receive? What was the pre and post money valuation of the company?  Is there anyone else on your cap table besides you and your investors? Please explain.
          textarea(name="5Aiv" class="form-control" rows="10")
          
        div.form-item
          label <strong>v.</strong> If you have any business partners and/or employees, how many do have, what are their qualifications, what are their responsibilities in the business, and how long have you worked together on this business idea? (Feel free to append copies of resumes of key personnel as Exhibit C)
          textarea(name="5Av" class="form-control" rows="10")
          
        div.form-item
          label <strong>vi.</strong> If you have established manufacturing/service channels and/or distribution channels associated with your business idea, how are you manufacturing the goods/who is providing the service, and/or how are you distributing the goods and services?
          textarea(name="5Avi" class="form-control" rows="10")
          
        div.form-item
          label <strong>vii.</strong> If your business idea has made money, how much money has your business idea grossed and netted? (net income = gross income –  total costs (e.g. personnel costs + real estate costs + equipment and materials costs + licensing costs + web maintenance costs + manufacturing costs + distribution costs + utilities costs + marketing costs+ professional service fees costs + taxes and filing fees costs + etc.))
          textarea(name="5Avii" class="form-control" rows="10")
          
        div.form-item
          label <strong>viii.</strong> Describe strategic relationships that you have developed associated with this business idea. (e.g. advocates in angel networks, memberships in trade organizations, established business mentors, relationships among your targeted market segments, technical expertise from university academics etc.)
          textarea(name="5Aviii" class="form-control" rows="10")
          
        div.form-item
          label <strong>ix.</strong> Describe any other assets or resources that you have to enable you to develop this business idea. 
          textarea(name="5Aix" class="form-control" rows="10")
          
        h3 VI. Next Milestones
        div.form-item
          label <strong>A.</strong> What are your next milestones to develop your business?  Are they revenue related? Related to a new product launch, a key hire, a marketing initiative? Are they all designed to bring in revenue?  If so, when and how much is expected?
          textarea(name="6A" class="form-control" rows="10")
          
        div.form-item
          label <strong>B.</strong> What specific action items will you do to achieve these milestones?
          textarea(name="6B" class="form-control" rows="10")
          
        div.form-item
          label <strong>C.</strong> What are your expected timeframes to meet these milestones?
          textarea(name="6C" class="form-control" rows="10")
          
        div.form-item
          label <strong>D.</strong> Describe how much seed funding you are requesting from the Startup Ogden Grant Program and provide a detailed budget on how you will spend the seed funding to meet your milestones?
          textarea(name="6D" class="form-control" rows="10")
          
        h3 Exhibit A
        div.form-item
          label If you have filed, licensed, or been granted a patent, copyright, or trademark associated with your business idea, provide links or upload them here.
          textarea(name="exhibitA" class="form-control" rows="3")
          input(type="file" name="attachmentA1" class="attachment")
          input(type="file" name="attachmentA2" class="attachment")
          input(type="file" name="attachmentA3" class="attachment")
          
        h3 Exhibit B
        div.form-item
          label If you have a prototype or product demo video associated with your business idea, upload images of the prototype or provide links to the demo video here.
          textarea(name="exhibitB" class="form-control" rows="3")
          input(type="file" name="attachmentB1" class="attachment")
          input(type="file" name="attachmentB2" class="attachment")
          input(type="file" name="attachmentB3" class="attachment")
          
        
        input(type="submit" value="Submit" class="btn teal")
        
      script.
        var frmvalidator  = new Validator("application-form");
        frmvalidator.addValidation("name", "req", "Cannot leave any fields blank");
        frmvalidator.addValidation("address", "req", "Cannot leave any fields blank");
        frmvalidator.addValidation("phone", "req", "Cannot leave any fields blank");
        frmvalidator.addValidation("email", "req", "Cannot leave any fields blank");
        frmvalidator.addValidation("business-name", "req", "Cannot leave any fields blank");
        frmvalidator.addValidation("state", "req", "Cannot leave any fields blank");
        frmvalidator.addValidation("EIM", "req", "Cannot leave any fields blank");
        
        frmvalidator.addValidation("1A", "req", "Cannot leave any fields blank");
        frmvalidator.addValidation("2A", "req", "Cannot leave any fields blank");
        frmvalidator.addValidation("2Bi", "req", "Cannot leave any fields blank");
        frmvalidator.addValidation("2Bii", "req", "Cannot leave any fields blank");
        frmvalidator.addValidation("2Biii", "req", "Cannot leave any fields blank");
        frmvalidator.addValidation("2Biv", "req", "Cannot leave any fields blank");
        frmvalidator.addValidation("2Bv", "req", "Cannot leave any fields blank");
        frmvalidator.addValidation("3A", "req", "Cannot leave any fields blank");
        frmvalidator.addValidation("3B", "req", "Cannot leave any fields blank");
        frmvalidator.addValidation("3C", "req", "Cannot leave any fields blank");
        frmvalidator.addValidation("4A", "req", "Cannot leave any fields blank");
        frmvalidator.addValidation("4B", "req", "Cannot leave any fields blank");
        frmvalidator.addValidation("5Ai", "req", "Cannot leave any fields blank");
        frmvalidator.addValidation("5Aiv", "req", "Cannot leave any fields blank");
        frmvalidator.addValidation("5Av", "req", "Cannot leave any fields blank");
        frmvalidator.addValidation("5Avi", "req", "Cannot leave any fields blank");
        frmvalidator.addValidation("5Avii", "req", "Cannot leave any fields blank");
        frmvalidator.addValidation("5Aviii", "req", "Cannot leave any fields blank");
        frmvalidator.addValidation("5Avix", "req", "Cannot leave any fields blank");
        frmvalidator.addValidation("6A", "req", "Cannot leave any fields blank");
        frmvalidator.addValidation("6B", "req", "Cannot leave any fields blank");
        frmvalidator.addValidation("6C", "req", "Cannot leave any fields blank");
        frmvalidator.addValidation("6D", "req", "Cannot leave any fields blank");
