/***********************\
		Buttons
\***********************/

// Buttons
.btn
	display inline-block
	background white
	padding 15px 50px
	min-width 125px
	text-decoration none
	text-align center
	border-radius 2px
	margin 5px 0
	font-family RobotoMedium
	font-size 18px
	box-shadow none
	color teal
	background white
	&:hover
		opacity 0.6
		cursor pointer
	&:link
		color teal
	&.teal
		background teal
		color white
		border none
	&:focus
		outline none

input[type="text"], input[type="tel"], input[type="email"], textarea
	border 1px solid #E0E0E0
	background-color #EDEDED
	width 100%
	padding 16px
	font-size 16px
	&:focus
		outline none !important
		box-shadow none

.contact
	input
		margin-bottom 14px
