body
	padding:0;
	background:#EAEEEF;
	min-height: 100vh;
	.wrapper
		width 100%
		height 100%
		overflow-x hidden
		position relative

.light
	h1, h2, h3, label, p
		color dark-purple

	.tiny
		color gray
		font-size 14px

section
	@media screen and (max-width: 768px)
		padding 0 60px
