/***********************\
		Mixins
\***********************/
clearfix()
	&:before, &:after
		clear both
		content ''
		display table

vertical-align()
	position relative
	top 50%
	transform translateY(-50%)

// Fonts mixin
font-url(file)
	return '/fonts/' + file

webfont(family, file, hack-chrome-windows = false, weight = 'normal')
	@font-face
		font-family family
		src url(font-url(file + '.eot'))
		src url(font-url(file + '.eot?#iefix')) format('embedded-opentype'),
				url(font-url(file + '.ttf')) format('truetype'),
				url(font-url(file + '.svg#'+ family)) format('svg')
		font-weight weight
		font-style normal
	if hack-chrome-windows
		@media screen and (-webkit-min-device-pixel-ratio:0)
			@font-face
				font-family family
				src url(font-url(file + '.svg#'+ family)) format('svg')
