/***********************\
    Typography
\***********************/

webfont('RobotoBold', 'Roboto-Bold', true, 'normal')
webfont('RobotoLight', 'Roboto-Light', true, 'normal')
webfont('RobotoMedium', 'Roboto-Medium', true, 'normal')

h1
  font-family RobotoBold
  font-size 60px
  letter-spacing 0.8px

h2
  font-family RobotoMedium
  font-size 30px
  font-weight 400

h3
  font-family RobotoMedium
  font-size 24px
  font-weight 400

label
  font-family RobotoLight
  font-size 18px
  font-weight 400

p
  font-family RobotoLight
  font-size 20px
  font-weight 300
  line-height 28px

.tiny
    opacity 0.48
    font-size 14px
    line-height 17px

@media screen and (max-width: 667px)
  h1
    font-size 30px

  h2
    font-size 20px

  h3
    font-size 20px

  p
    font-size 16px
